<div class="regi-new">
  <div class="inner">
    <div class="border">
      <div class="title">
        <h1>Nyanstagram</h1>
        <h2>登録して友達の写真や動画をチェックしよう</h2>
      </div>

      <div class="facebook">
        <p><span class="fab fa-facebook-square"></span><span>Facebookでログイン</span></p>
      </div>

      <div class="or">
        <div class="title-border">
          <p>または</p>
        </div>
      </div>

      <div class="form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
        </div>

        <div class="field">
          <%= f.text_field :username, autofocus: true, autocomplete: "name", placeholder: "ユーザーネーム" %>
        </div>

        <div class="field">
          <div class="devise">
          <% if @minimum_password_length %>
          <% end %><br />
          </div>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(６文字以上）" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード（確認用）" %>
        </div>

        <div class="field actions">
          <div class="btn-login-conteiner">
            <div class="btn-login">
              <%= f.submit "登録する", {class: "btn"} %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>

    <div class="space"></div>

    <div class="border">
      <div class="signin">
        <p>アカウントをお持ちですか？ <%= link_to "ログインする", new_user_session_path, {class: "sign-link"} %></p>
      </div>
    </div>
    <div class="devise">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
