<div class="session-new">
  <div class="inner">
    <div class="border">
      <div class="title">
        <h1>Nyanstagram</h1>
      </div>
      <div class="form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
          </div>
          <div class="field">

            <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
          </div>

          <div class="field actions">
            <div class="btn-login-conteiner">
              <div class="btn-login">
                <%= f.submit "ログイン", {class: "btn"} %>
              </div>
            </div>
          </div>

        <% end %>
      </div>

      <div class="or">
        <div class="title-border">
          <p>または</p>
        </div>
      </div>

      <div class="facebook">
        <p><span class="fab fa-facebook-square"></span><span>Facebookでログイン</span></p>
      </div>

      <div class="pass">
        <p>パスワードを忘れた場合</p>
      </div>

    </div>

    <div class="space"></div>

    <div class="border">
      <div class="signup">
        <p>アカウントをお持ちでないですか？ <%= link_to "登録する", new_user_registration_path, {class: "sign-link"} %></p>
      </div>
    </div>

    <div class="devise">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
