<div class="posts-index">
    <div class="inner">
        <% @posts.each do |post| %>
        <div class="container roop">
            <div class="header">
                <div class="auther">
                    <div class="icon user-icon">
                        <span class="far fa-user menu-icon"></span>
                    </div>
                    <div class="name">
                        <%= link_to post.user.username, user_path(current_user) %>
                    </div>
                </div>
                <div class="menu">
                    <input type="checkbox" id="post-menu-btn-check" />
					<label for="post-menu-btn-check" onclicl="" class="post-menu-btn">
                        <span class="menu-icon">…</span>
                    </label>
                    <ul class="posts-menu-list">
                        <li><%= link_to("削除", post_path(post), { method: :delete, data: {confirm: "ログアウトしますか？"}, id: "delete"}) %></li>
                        <li><%= link_to "投稿へ移動", post_path(post) %></li>
                        <li>シェア先…</li>
                        <li>リンクをコピー</li>
                        <li>埋め込み</li>
                        <li class="cancel">キャンセル</li>
                    </ul>
                </div>
            </div>
            <div class="img">
                <%= image_tag post.img.url if post.img? %>
            </div>

            <div class="footer">
                <%= render 'items' %>

                <div class="likes">いいね！</div>
                <div class="comments">
                    <%= link_to post.user.username, user_path(post.id), id: "name" %>
                    <%= link_to post.content, post_path(post.id) %>
                </div>
                <div class="date"><%= time_ago_in_words(post.created_at)+"前" %></div>
                <div class="comment-input">
                    <span class="far fa-smile footer-icon"></span>
                            <div class="comment-form">コメントを投稿する, placeholder: "150文字以内"
                            </div>
                </div>
            </div>
        </div>
        <div class="blanc"></div>
        <% end %>
    </div>
</div>
